.TaskBody {
    height: 40px;
    border: 1px solid var(--green-2);
    border-radius: var(--general-border-radius);
    padding: 0 20px;
    position: relative;

    transition: all 0.2s ease;
    transition: border-radius 0.1s ease 0.1s;

    display: flex;
    align-items: stretch;
}

.TaskBody:hover {
    background-color: var(--green-2-transparent);
}

.dragIconContainer,
.moreIconContainer {
    display: none;
    align-items: center;
    justify-content: center;
}

.dragIconContainer {
    cursor: grab;
}

.dragIconContainer:active {
    cursor: grabbing;
}

.moreIconContainer svg {
    scale: 1.2;
    cursor: pointer;
}

.TaskBody:hover .moreIconContainer,
.TaskBody:hover .dragIconContainer {
    display: flex;
}

.taskContent {
    padding: 0 10px 0 5px;
    cursor: pointer;
    letter-spacing: 0.5px;

    flex-grow: 1;
    display: flex;
    align-items: center;
}

.taskContent > * {
    margin: 5px;
}


/* ======= Subtasks Buttons Styles ======= */

.subtasksBtnsContainer {
    margin: 0 15px;

    display: flex;
    align-items: center;
}

.subtasksBtnsContainer > * {
    margin: 3px;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.subtasksArrow {
    rotate: -90deg;

    font-size: 1.6rem;
}

.subtasksArrow:hover, .addSubtaskButton:hover {
    scale: 1.1;
    transition: scale 0.1s ease;
}

.subtasksArrow:active, .addSubtaskButton:active {
    scale: 0.9;
}

.subtasksArrow.active {
    rotate: 90deg;
    transition: rotate 0.2s ease;
}

.TaskBody.withSubtasksShown {
    border-radius: var(--general-border-radius) var(--general-border-radius) 0 0;
}

.addSubtaskButton svg {
    width: 22px;
    height: 22px;
}

/* ===============================
    Task Different Statuses Styles
    =============================== */

/* todo status */

.TaskBody.todo .taskStatusBadge {
    color: var(--grey);
}

.TaskBody.todo .subtasksArrow {
    color: var(--green-2);
}


/* done status */

.TaskBody.done {
    background-color: var(--green-2);
    color: var(--white);
    border-color: var(--green-2);
    transition: background-color 20ms ease, color 20ms ease;
}

.TaskBody.done .moreIconContainer svg path[fill="#26a69a"] {
    fill: var(--white);
}

.TaskBody.done .dragIconContainer span {
    background-color: var(--white);
}

.TaskBody.done .taskContent {
    text-decoration: line-through;
}

.TaskBody.done:hover {
    background-color: var(--green-2);
}

.TaskBody.done .addSubtaskButton svg {
    fill: var(--white);
}

.TaskBody.done .actionCenter {
    fill: var(--white);
    color: var(--white);
    border-color: var(--white);
}

.TaskBody.done .actionCenter a:hover {
    fill: var(--green-1);
    color: var(--red);
}

.TaskBody.done .actionCenter > *:hover {
    background-color: var(--white);
}

/* doing status */

.TaskBody.doing {
    transition: background-color 20ms ease, color 20ms ease;
    background-color: var(--green-2-transparent);
    color: var(--green-2);
}

.TaskBody.doing svg path[fill="#05E39C"] {
    fill: var(--green-2);
}

.TaskBody.doing .dragIconContainer span {
    background-color: var(--green-2);
}

.TaskBody.doing:hover {
    background-color: var(--green-2-transparent);
}


/* = Task-Status Badge = */

.taskStatusBadge {
    padding-left: 15px;
    font-size: 2rem;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* ======= Task Action Center ======= */

.actionCenter {
    animation: open-action-center 0.2s ease forwards;

    color: var(--green-2);
    fill: var(--green-2);
    border-top: 3px solid var(--green-2);
    border-bottom: 3px solid var(--green-2);
    overflow: hidden;
    padding: 0 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionCenter > a {
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.actionCenter > a svg,
.actionCenter > a i {
    width: 20px;
    height: 20px;
    font-size: 1.5rem;
}

.actionCenter .editButton:hover {
    background-color: var(--green-1);
}

.actionCenter .deleteButton:hover {
    background-color: var(--red);
}

.actionCenter .editButton:hover,
.actionCenter .deleteButton:hover {
    fill: var(--white);
    color: var(--white);

    transition-property: background-color, color, fill;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}




/* ========================= */
/* ======= KEYFRAMEs ======= */
/* ========================= */

@keyframes open-action-center {
    0% {
        width: 0;
    }
    100% {
        width: 75px;
    }
}